




<div id="main">
    <div *ngIf="filterFlag=='true'" id="btnFilter" (click)="openNav()" class="filter_toggle_btn secondarybackgroundColor primarytxtColor">
        <i id="filterToggle" class="fa fa-angle-right"></i>
    </div>
    <div id="mainSecondDiv">
        <div>
            <p class="reportHeading">{{reportHeading}}</p>
        </div>
        <iframe id="ftvp_Iframe" (load)="oniFrameLoad($event)" frameborder="0" data-value="init" style="height:85vh;width:100%; border:1px solid #CCC"></iframe>
    </div>
</div>


