<div id="main">
    <div id="mainSecondDiv">
        <iframe id="linked_Iframe" (load)="oniFrameLoad($event)" frameborder="0" data-value="init" style="height:100%;width:100%; border:2px solid #CCC; border-bottom: none;"></iframe>
    </div>
</div>