.reviews {
    color: #555;
    font-weight: bold;
}

.notes {
    color: #999;
    font-size: 12px;
}

.tab-content {
    min-height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav-tabs li a {
    padding: 5px;
}

.nav-tabs li h4 {
    font-size: 15px;
    margin: 4px 0 2px 0;
}

#tbl_REPORTS th td {
    max-width: 150px;
}

/*Date range picker*/
.ranges li {
    color: #7a1418 !important;
}
/*end*/

/*** Table Styles **/

.gradient-style td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
}

.gradient-style {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

    .gradient-style tr {
        border: 1px rgba(0, 0, 0, 0.1) solid;
    }

    .gradient-style th {
        font-size: 15px;
        padding: 12px;
        font-weight: 600;
        white-space: nowrap;
    }

    .gradient-style tr:hover td {
        background: rgba(189, 189, 189, 0.32);
        cursor: pointer;
    }

tr:hover td {
    background: rgba(189, 189, 189, 0.32);
    cursor: pointer;
}

/*table end*/

/*panel*/
.panel-heading {
    position: relative;
    border: 2px solid;
    font-size: 15px;
    font-weight: 600;
}

.group1 {
    border-color: #0896c5;
    background: rgba(8, 150, 197, 0.22);
}

.group2 {
    border-color: #08c561;
    background: rgba(8, 197, 97, 0.27);
}

.group3 {
    border-color: #0935a5;
    background: rgba(9, 53, 165, 0.22);
}

.group4 {
    border-color: #a53f09;
    background: rgba(165, 63, 9, 0.22);
}

.group5 {
    border-color: #a50946;
    background: rgba(165, 9, 70, 0.22);
}

.group6 {
    border-color: #09a59b;
    background: rgba(9, 165, 155, 0.22);
}

.group7 {
    border-color: #b7b209;
    background: rgba(183, 178, 9, 0.22);
}


.group8 {
    border-color: #e2550d;
    background: rgba(226, 85, 13, 0.24);
}

.group9 {
    border-color: #04e604;
    background: rgba(0, 255, 0, 0.18);
}

.group10 {
    border-color: #e604b2;
    background: rgba(230, 4, 178, 0.18);
}

.collapseBtn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
}

.marginLR {
    margin: 0 15px;
}

.feildsDetials {
    text-align: center;
    padding: 8px;
    border: 2px solid #787d82;
    border-radius: 3px;
}

.downloadBtn {
    border: 2px solid #009ed3;
    padding: 5px 10px;
    background: #0b7ea5;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
/*end*/

/** div Table Styles */

.gradient-style .td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    min-width: 200px;
}

.child .td {
    padding: 5px !important;
    min-height: 32px;
}

.parent .td {
    min-height: 42px;
}

.gradient-style {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

    .gradient-style .tr {
        border: 1px rgba(0, 0, 0, 0.1) solid;
        /*width: auto;
    /*display: -webkit-inline-box;*/
        display: inline-flex;
        position: relative;
        width: auto;
        min-width: 100%;
    }

    .gradient-style .th {
        font-size: 15px;
        padding: 12px;
        font-weight: 600;
        white-space: nowrap;
    }

    .gradient-style .tr:hover .tr {
        background: rgba(189, 189, 189, 0.32);
        cursor: pointer;
    }

.tr:hover {
    background: rgba(189, 189, 189, 0.32);
    cursor: pointer;
}

.tr {
    padding: 0;
}

.thead .tr {
    background-color: #787d82 !important;
    color: #FFF;
    /*width: auto;
    display: -webkit-inline-box;*/
}

.child .thead .tr {
    background-color: rgba(120, 125, 130, 0.81) !important;
    color: #FFF;
}

.firstrow {
    border-top: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
}

.lastrow {
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
}

.allrow {
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}
/*div table end*/

/* Popup */
.modal {
    top: 35px;
    bottom: auto;
}

.pad0 {
    padding-right: 0px;
    padding-left: 0px;
}

.popover {
    -ms-transform: scale(0.5) !important;
    -webkit-transform: scale(0.5) !important;
    transform: scale(0.5) !important;
    top: 60px !important;
    margin-left: 50px;
}

/*Drag & Drop*/
.gu-transit {
    /*border:2px solid #3576a0  ;*/
}

@media screen and (max-width: 450px) {

    .feildsDetials {
        display: inline-grid;
        width: 100%;
    }
}








/*.............*/
#main {
    margin-top: 0px;
}

.main {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

.big {
    transform: scale(1.0, 1.0) translateY(0px);
}

.small {
    transform: scale(0.5, 0.5) translateY(-110px);
}

.scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}
/*end*/


/*filter*/
#tbl1, .DTbale {
    width: 100% !important;
}

#mainSecondDiv {
    /*padding: 5px 15px 15px 15px;*/
}

    #mainSecondDiv h4 {
        text-align: center;
    }

.sidenav {
    height: 92vh;
    max-height: 92vh;
    overflow-y: auto;
    /*height: 100%;*/
    width: 0;
    position: fixed;
    z-index: 888888;
    top: 51px;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    box-shadow: 4px 0px 5px #CCC;
}

    .sidenav a {
        text-decoration: none;
        font-size: 14px;
        color: #FFF;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #FFF;
        }

.offcanvas a:focus {
    color: #034962;
    background: rgb(255, 255, 255);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

.reportHeading {
    margin-bottom: 0px;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 2px 1px 2px #969393;
}

@media screen and (max-height: 450px) {
    /*.sidenav {
        padding-top: 15px;
    }*/

    .sidenav a {
        font-size: 13px;
    }
}

.btn-primary {
    color: #fff;
    background-color: #009ed3;
    border-color: #24516d;
}

    .btn-primary:active, .btn-primary:hover {
        background-color: #50a0d3;
        border-color: #50a0d3;
    }



.nesttable {
    width: 100%;
}

.m_top_5 {
    margin-top: 5px;
}

.nesttable_tr {
    background: #034962;
}

table.dataTable.hover tbody .nesttable_tr:hover {
    background: #034962 !important;
}

.nesttable_tr :hover {
    background: #034962 !important;
}

table.dataTable .nesttable tbody tr {
    background-color: transparent;
}

.nesttable_tr th {
    width: 25%;
    border-bottom: none;
    padding: 0;
    text-align: center;
}

.nesttable tr td {
    width: 25%;
    text-align: center;
}

.filter_toggle_btn {
    position: fixed;
    top: 43%;
    /*background: #009ed3;
    color: #FFF;*/
    padding: 7px;
    z-index: 888888;
    border-radius: 0 5px 5px 0;
    font-size: 1.5em;
    opacity: 0.5;
}

#btnFilter:hover {
    opacity: 1;
}

.clearall {
    font-size: 15px !important;
}

.addfilter {
    padding: 6px 15px;
    float: left;
    margin-right: 7px;
    margin-top: 7px;
    background: #ddd;
    position: relative;
    cursor: default;
    box-shadow: 2px 2px 2px #9c9696;
}

.clo {
    display: none;
    position: absolute;
    z-index: 999999;
    right: -6px;
    top: -4px;
    background: #8a8383;
    border: 1px solid #8a8383;
    border-radius: 50%;
    color: #FFF;
    padding: 0px 3px 1px 3px;
    cursor: pointer;
    line-height: 1em;
    font-size: 1em;
}

.filterCheap:hover .clo {
    display: block;
}

.filterCheap {
    font-size: 11px;
    float: left;
    margin-right: 5px;
    position: relative;
    background: #CCC;
    padding: 3px 10px;
    margin-bottom: 7px;
    box-shadow: 2px 2px 3px #a59d9d;
}

.filterParent {
    margin: 5px 5px 3px 5px;
}

.borderBottom {
    border-bottom: 1px solid #CCC;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.accordion-menu {
    width: 100%;
    max-width: 350px;
    padding: 0;
    background: #fff;
    border-radius: 4px;
}

    .accordion-menu li.open .dropdownlink {
        /*color: #034962;*/
    }

        .accordion-menu li.open .dropdownlink .fa-chevron-down {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

/*.accordion-menu li:last-child .dropdownlink {
        border-bottom: 0;
    }*/

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    /*color: #585b5d;*/
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.accordion-menu .dropdownlink {
    color: #585b5d;
}

    .accordion-menu .dropdownlink:hover {
        color: #000;
        font-weight: bold;
        background: #d6d6d6;
    }



.dropdownlink i {
    position: absolute;
    top: 11px;
    left: 16px;
}

.dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto;
}

.submenuItems {
    display: none;
    background: #eff5f7;
    padding: 0;
}

    .submenuItems li {
        border-bottom: 1px solid #B6B6B6;
    }

        .submenuItems li a {
            padding-left: 40px;
        }

    .submenuItems a {
        display: block;
        color: #540f11;
        padding: 12px 12px 12px 45px;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

        .submenuItems a:hover {
            background-color: rgb(227, 227, 227);
            color: #701216;
        }

    .submenuItems i {
        margin-right: 7px;
    }

#sClock {
    font-size: 22px;
    font-family: -webkit-pictograph;
    /*font-family: digital;*/
}

@font-face {
    font-family: digital;
    /*src: url(../../../assets/css/font/digital-7.ttf);*/
}

.DateRange {
    cursor: pointer;
}

.firstLI {
    padding-left: 45px;
    /*color: #FFF;
    background: rgb(80, 160, 211);*/
    font-weight: bold;
    cursor: default;
}

/*.firstLI:hover {
        color: #FFF;
        background: rgb(80, 160, 211);
        font-weight: bold;
    }*/

.danaTable th, td {
    min-width: 120px;
}

.danaTable table {
    border-left: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}

.danaTable td {
    border-style: none solid !important;
    vertical-align: top;
}

.danaTable tr:hover td {
    background: rgba(3, 73, 98, 0.22);
}

.parentHead {
    text-align: center;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF !important;
    padding: 5px;
}

.borderLeft {
    border-left: 1px solid #FFF;
}

.childHead {
    padding: 7px 18px;
}

#daterange_picker {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

/*#tbl_Production th:nth-child(1) 
{
    background:#c0dbe4 !important;
}
#tbl_Production td:nth-child(1)
{
    background:#c0dbe4 !important;
}*/
.filterSelect {
    padding: 5px;
    padding-bottom: 0;
}

.margin0px {
    margin: 0;
}


/*end*/


/*loader*/
.loaderDiv_P {
    display: none;
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.58);
}

.loaderDiv_C {
    width: 100px;
    margin: 20% auto;
}

.Section {
    padding: 60px 0 30px 0;
    min-height: 100vh;
}
/*end*/

/*date range picker*/

.daterangepicker.dropdown-menu {
    z-index: 999999 !important;
}

/*date range picker end*/
