




<div id="main">
    <!--<div *ngIf="filterFlag=='true'" id="btnFilter" (click)="openNav()" class="filter_toggle_btn secondarybackgroundColor primarytxtColor">
        <i id="filterToggle" class="fa fa-angle-right"></i>
    </div>-->
    <div id="mainSecondDiv">
        <!--<div>
            <p class="reportHeading">{{reportHeading}} {{v1}}</p>
        </div>-->
        <iframe id="ssrs_Iframe" (load)="oniFrameLoad($event)" frameborder="0" data-value="init" style="width:100%; border:2px solid #CCC; border-bottom: none;"></iframe>
    </div>
</div>


