body
{
    height: 100vh;
} 

/*Date range picker start*/
    
    .daterangepicker.dropdown-menu
    {
        z-index:999999 !important;
    }
    
       .ranges li {
            color: #000000 !important;
        }

       .ranges li.active, .ranges li:hover {
            background: #6c6869 !important;
            border: 1px solid #494647 !important;
            color: #fff !important;
        }
        .daterangepicker td.active, .daterangepicker td.active:hover {
            background-color: #6c6869  !important;
            border-color: transparent;
            color: #fff;
        }
       .daterangepicker td.in-range {
           background-color: rgba(122, 20, 24, 0.09);
       }
       .btn-success{
            color: #fff !important;
                background: #6c6869 !important;
    border: 1px solid #494647 !important;
        }
       .btn-success:hover{
            color: #fff !important;
            background-color: #4a0c0f !important;
            border-color: #4a0c0f !important;
        }
              
        /*Date range picker end*/