﻿<footer class="flex-noshrink main-footer">

    <div class="footer-container">
        <div class="copyright">
            <!--Copyright © 2018-2019-->
            MES Reporting WebApp for
            <a>
                <span class="primarytxtColor">Adient</span>
            </a> MES Application.
        </div>

        
    </div>
</footer>