﻿<header class="primaryborderbottomColor">

    <img class="logo" src="assets/images/login/logo.png" (click)="dashboard()" />
    <!--<div style="float:right"><a [routerLink]="['']">Sign out</a></div>-->
    <div id="divMenu" data-name="menu" style="display: inline-block; margin-left:10px; cursor:pointer">
        <a data-name="menu" (click)="toggleMenu()">
            <img data-name="menu" src="assets/images/menu.png" height="23" style="margin-top: 2px;" />
        </a>
    </div>
    <div class="heading"> 
        <p class="reportHeading">{{masterService.rHeading}}</p>
    </div>
    <!-- ss -->

    

    
    <div class="pull-right">
        
        <div class="dropdown padd6px">
            <div class="chip dropdown-toggle primarybackgroundColor secondarytxtColor" data-toggle="dropdown">
                <img src="assets/images/user.png" width="96" height="50" />
                <!--{{username}}-->admin
            </div>
            <ul class="dropdown-menu">

                <li><a (click)="login()"><i class="fa fa-sign-out"></i>  Sign out</a></li>
            </ul>
        </div>

    </div>
    <div class="pull-right">
        <div class="dropdown padd6px">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <img src="assets/images/flag.png" width="50" height="30" style="margin-top:16px; margin-right:10px;" />
            </div>
            <ul class="dropdown-menu">
                <li><a>English</a></li>
            </ul>
        </div>

    </div>
</header>

<!--<nav id="nav" role="navigation">
    <ul id="ul_menu" class="primarybackgroundColor secondarytxtColor" >
        <li data-name="menu" *ngFor="let m of MenuList" class="secondaryborderrightColor">
            <a data-name="menu" aria-haspopup="true" class="secondarytxtColor">{{m.category}}</a>
            <ul class="secondarybackgroundColor">
                <li *ngFor="let cm of m.values"
                    attr.data-category="{{m.category}}"
                    attr.data-id="{{cm.id}}"
                    attr.data-reportId="{{cm.reportId}}"
                    attr.data-filterFileName="{{cm.filterFileName}}"
                    attr.data-filterFlag="{{cm.filterFlag}}"
                    attr.data-targetPageUrl="{{cm.targetPageUrl}}"
                    attr.data-reportHeading="{{cm.reportHeading}}"
                    attr.data-mobileVisibility="{{cm.mobileVisibility}}"
                    attr.data-type="{{cm.type}}"
                    (click)="menuClick($event)"
                   [class.hidden-xs]="!cm.mobileVisibility"
                    >
                    <a class="primarytxtColor primarybordertopColor">{{cm.menuText}}</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>-->

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">


            <li class="treeview" *ngFor="let m of MenuList">
                <a>
                    <i class="fa fa-{{m.icon}}"></i>
                    <span>{{m.category}}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li *ngFor="let cm of m.values"
                    attr.data-category="{{m.category}}"
                    attr.data-id="{{cm.id}}"
                    attr.data-reportId="{{cm.reportId}}"
                    attr.data-filterFileName="{{cm.filterFileName}}"
                    attr.data-filterFlag="{{cm.filterFlag}}"
                    attr.data-targetPageUrl="{{cm.targetPageUrl}}"
                    attr.data-reportHeading="{{cm.reportHeading}}"
                    attr.data-mobileVisibility="{{cm.mobileVisibility}}"
                    attr.data-type="{{cm.type}}"
                    (click)="menuClick($event)"
                   [class.hidden-xs]="!cm.mobileVisibility"
                   >
                    <a>
                        {{cm.menuText}}
                    </a>
                    </li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>