/*Header start*/
header {
    background: #FFF;
    position: fixed;
    width: 100%;
    /*border-bottom: 2px solid #009ed3;*/
    box-shadow: 1px 2px 1px #949393;
    display: inline-block;
    z-index: 888888;
}

.padd3px {
    padding: 3px;
}

.logo {
    width: 100px;
    margin: 10px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 25px;
    /*background-color: rgb(0, 158, 211);*/
    /*color: #FFF;*/
    margin-top: 13px;
    margin-right: 7px;
    color: #FFF;
}

    .chip img {
        float: left;
        margin: 3px 10px 0 -17px;
        height: 29px;
        width: 26px;
        border-radius: 50%;
    }
/*Header End*/


/*=========================*/

.main {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

/*Scrollbar start*/
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

.big {
    transform: scale(1.0, 1.0) translateY(0px);
}

.small {
    transform: scale(0.5, 0.5) translateY(-110px);
}

.scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}
/*Scrollbar end*/



/*menu start*/
.navbar-fixed-top {
    top: 58px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #034962;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #034962;
}

#nav {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    top: 51px;
    position: fixed;
    z-index: 999999;
    display: none;
}

    #nav > a {
        display: none;
    }

    #nav li {
        position: relative;
    }

        #nav li a {
            /*color: #fff;*/
            display: block;
        }

    /*#nav li a:active {
                background-color: rgb(7, 147, 193) !important;
            }*/

    #nav span:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent; /* 5 */
        border-bottom: none;
        border-top-color: #efa585;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em; /* 5 */
    }

    /* first level */

    #nav > ul {
        font-size: 10px;
        height: 3.75em; /* 60 */
        /*background-color: #009ed3;*/
        padding: 0;
        box-shadow: 3px 3px 5px #757575;
    }

        #nav > ul > li {
            min-width: 16%;
            height: 100%;
            float: left;
        }

            #nav > ul > li > a {
                height: 100%;
                font-size: 1.5em; /* 24 */
                font-weight: 600;
                line-height: 2.5em; /* 60 (24) */
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
            }

            #nav > ul > li:not( :last-child ) > a {
                border-right: 1px solid #034962;
            }

            #nav > ul > li:hover > a {
                color: #000000;
            }


    /* second level */

    #nav li ul {
        /*background-color: #000000;*/
        display: none;
        position: absolute;
        top: 100%;
        padding: 0;
        z-index: 999999;
        box-shadow: 3px 3px 5px #757575;
    }

    #nav li:hover ul {
        display: block;
        left: 0;
        right: 0;
    }

    #nav li:not( :first-child ):hover ul {
        left: -1px;
    }

    #nav li ul a {
        font-size: 1.25em; /* 20 */
        font-weight: 600;
        /*border-top: 1px solid #034962;*/
        padding: 0.75em; /* 15 (20) */
        text-decoration: none;
    }

    #nav li ul li a:hover {
        background-color: #303030;
        color: #ffffff;
        cursor: pointer;
    }

ul, ol {
    list-style: none;
}

@media only screen and ( max-width: 62.5em ) /* 1000 */
{
    #nav {
        width: 100%;
        margin: 0;
    }
}

@media only screen and ( max-width: 30em ) /* 640 */
{
    /* first level */
    #nav > a {
        left: 90px;
    }

    #nav > ul {
        height: auto;
        /*display: none;*/
        position: absolute;
        left: 0;
        right: 0;
        z-index: 999999;
    }

    #nav:target > ul {
        display: block;
    }

    #nav > ul > li {
        width: 100%;
        float: none;
        border-bottom: 1px solid #000;
    }

        #nav > ul > li > a {
            text-align: left;
            padding: 0 0.833em; /* 20 (24) */
        }

        #nav > ul > li:not( :last-child ) > a {
            border-right: none;
            border-bottom: 1px solid #034962;
        }


    /* second level */

    #nav li ul {
        position: static;
        /*padding: 1.25em;*/ /* 20 */
        padding-top: 0;
    }
}
/*menu End*/



/*loader start*/
.loaderDiv_P {
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.58);
}

.loaderDiv_C {
    width: 100px;
    margin: 20% auto;
}

.Section {
    padding: 60px 0 30px 0;
    min-height: 100vh;
}
/* loader end*/

/*footer start*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #CCC;
}

.footer_b {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100%;
}

.main-footer {
    background: #fff;
    padding: 3px 10px;
    color: #8C8585;
    /*border-top: 1px solid #CCC;*/
    font-size: 11px;
}

.pull-right {
    float: right !important;
}

.copyright {
    float: left;
    width: 68%;
    margin: 0 0;
}

/*.copyright span {
        color: #009ed3;
    }*/

.poweredby {
    margin-top: 0px;
    margin-right: 0px;
}

.mars img {
    width: 28px;
    height: 27px;
}
/*footer end*/




/*filter*/
#tbl1, .DTbale {
    width: 100% !important;
}

#mainSecondDiv {
    padding: 5px 15px 15px 15px;
}

    #mainSecondDiv h4 {
        text-align: center;
    }

.sidenav {
    height: 92vh;
    max-height: 92vh;
    overflow-y: auto;
    /*height: 100%;*/
    width: 0;
    position: fixed;
    z-index: 888888;
    top: 51px;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    padding-bottom: 10px;
    box-shadow: 4px 0px 5px #CCC;
}

    .sidenav a {
        text-decoration: none;
        font-size: 14px;
        color: #FFF;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #FFF;
        }

.offcanvas a:focus {
    color: #034962;
    background: rgb(255, 255, 255);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    /*.sidenav {
        padding-top: 15px;
    }*/

    .sidenav a {
        font-size: 13px;
    }
}

.btn-primary {
    color: #fff;
    background-color: #009ed3;
    border-color: #24516d;
}

    .btn-primary:active, .btn-primary:hover {
        background-color: #50a0d3;
        border-color: #50a0d3;
    }



.nesttable {
    width: 100%;
}

.m_top_5 {
    margin-top: 5px;
}

.nesttable_tr {
    background: #034962;
}

table.dataTable.hover tbody .nesttable_tr:hover {
    background: #034962 !important;
}

.nesttable_tr :hover {
    background: #034962 !important;
}

table.dataTable .nesttable tbody tr {
    background-color: transparent;
}

.nesttable_tr th {
    width: 25%;
    border-bottom: none;
    padding: 0;
    text-align: center;
}

.nesttable tr td {
    width: 25%;
    text-align: center;
}

.filter_toggle_btn {
    position: fixed;
    top: 43%;
    /*background: #009ed3;
    color: #FFF;*/
    padding: 7px;
    z-index: 888888;
    border-radius: 0 5px 5px 0;
    font-size: 1.5em;
}

.clearall {
    font-size: 15px !important;
}

.addfilter {
    padding: 6px 15px;
    float: left;
    margin-right: 7px;
    margin-top: 7px;
    background: #ddd;
    position: relative;
    cursor: default;
    box-shadow: 2px 2px 2px #9c9696;
}

.clo {
    display: none;
    position: absolute;
    z-index: 999999;
    right: -6px;
    top: -4px;
    background: #8a8383;
    border: 1px solid #8a8383;
    border-radius: 50%;
    color: #FFF;
    padding: 0px 3px 1px 3px;
    cursor: pointer;
    line-height: 1em;
    font-size: 1em;
}

.filterCheap:hover .clo {
    display: block;
}

.filterCheap {
    font-size: 11px;
    float: left;
    margin-right: 5px;
    position: relative;
    background: #CCC;
    padding: 3px 10px;
    margin-bottom: 7px;
    box-shadow: 2px 2px 3px #a59d9d;
}

.filterParent {
    margin: 5px 5px 3px 5px;
}

.borderBottom {
    border-bottom: 1px solid #CCC;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.accordion-menu {
    padding-left: 0;
    margin-bottom: 0;
}

    .accordion-menu li.open .dropdownlink {
        /*color: #034962;*/
    }

        .accordion-menu li.open .dropdownlink .fa-chevron-down {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

/*.accordion-menu li:last-child .dropdownlink {
        border-bottom: 0;
    }*/

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 5.5px;
    font-size: 15px;
    /*font-weight: 600;*/
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
    /*border-radius: 4px;
    color: #585b5d;*/
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #FFF;
}

.accordion-menu .dropdownlink {
    color: #787a7b;
}

/*.accordion-menu .dropdownlink:hover {
        color: #000;
        font-weight: bold;
        background: #d6d6d6;
    }*/



.dropdownlink i {
    position: absolute;
    top: 8px;
    left: 16px;
}

.dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto;
}

.accordion-menu li {
    position: relative;
}

.submenuItems {
    display: none;
    background: #FFF;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 8;
    max-height: 350px;
    overflow: auto;
}

    .submenuItems div li {
        cursor: pointer;
    }

    .submenuItems li {
        border-bottom: 1px solid #B6B6B6;
        border-right: 1px solid #b6b6b6;
        border-left: 1px solid #b6b6b6;
        cursor: pointer;
    }

    /*.submenuItems li a {
            padding-left: 40px;
        }*/

    .submenuItems a {
        display: block;
        color: #00465B;
        padding: 5px;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

        .submenuItems a:hover {
            background-color: #00465B;
            color: #FFFFFF;
        }

    .submenuItems i {
        margin-right: 5px;
    }

.ulli .col-md-2 {
    padding-right: 4px;
    padding-left: 4px;
}

#sClock {
    font-size: 22px;
    font-family: -webkit-pictograph;
    /*font-family: digital;*/
}

@font-face {
    font-family: digital;
    /*src: url(../../../assets/css/font/digital-7.ttf);*/
}

.DateRange {
    cursor: pointer;
}

.firstLI {
    padding-left: 45px;
    /*color: #FFF;
    background: rgb(80, 160, 211);*/
    font-weight: bold;
    cursor: default;
}

/*.firstLI:hover {
        color: #FFF;
        background: rgb(80, 160, 211);
        font-weight: bold;
    }*/

.danaTable th, td {
    min-width: 120px;
}

.danaTable table {
    border-left: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}

.danaTable td {
    border-style: none solid !important;
    vertical-align: top;
}

.danaTable tr:hover td {
    background: rgba(3, 73, 98, 0.22);
}

.parentHead {
    text-align: center;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF !important;
    padding: 5px;
}

.borderLeft {
    border-left: 1px solid #FFF;
}

.childHead {
    padding: 7px 18px;
}

.customElement {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.filterTextbox {
    width: 100%;
    padding: 5px;
}

.filtterBtn {
    padding: 5px;
    width: 60%;
    margin: 0 0 0 auto;
    display: block;
}

/*#tbl_Production th:nth-child(1) 
{
    background:#c0dbe4 !important;
}
#tbl_Production td:nth-child(1)
{
    background:#c0dbe4 !important;
}*/
.filterSelect {
    padding: 5px;
    padding-bottom: 0;
}

.margin0px {
    margin: 0;
}

.timepickerFeild {
    padding: 6px 0;
    width: 27.5%;
}

.errorLable {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #a94442;
    display: none;
}

.errorBorder {
    border: 1px solid red;
    border-radius: 5px;
}


.inputboxError {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.boxbtnError {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.inputboxSuccess {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.boxbtnSuccess {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

.panelBorder {
    border-color: #464141;
}

.padd5px {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}

.ullidiv {
    position: relative;
}

/*.ulli .col-md-3{
    margin-bottom:7px;
}*/

.dateContainer .form-control {
    border-radius: 0 !important;
}

.input-group-addon {
    border-radius: 0 !important;
    padding: 6px 6px !important;
}
/*fillter end*/

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 13px;
}

.form-group {
    margin-bottom: 8px;
}

.timeSpace {
    font-size: 8px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.heading {
    display: inline-block;
    width: 73%;
    margin: 0 auto;
}

    .heading p {
        text-align: center;
    }

.reportHeading {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #969393;
    color: #00465B;
}

.checked {
    background-color: #00465B;
    color: #FFFFFF !important;
}
