<mstheader></mstheader>
<div id="loaderDiv" class="loaderDiv_P">
    <div class="loaderDiv_C">
        <img src="assets/images/loder.gif" width="100">
    </div>

</div>

<br />
<div class="content-wrapper">
    <div *ngIf="filterControlDetails?.length>0 && masterService.filterFlag=='true'">
        <a (click)="showfillter()" id="det" style="position: absolute;right: 16px;top: 66px; cursor:pointer; z-index: 555555;">[Hide]</a>
        
        <div id="fillter" class="hfilter collapse in">
            <div class="filterPanel row">
                <div *ngFor="let f of filterPanel">
                    <div class="filterHeading">{{f.id}}  :</div>
                    <div class="filterBody" *ngFor="let fp of f.values ; let last = last">
                        {{fp.name}}<span *ngIf="!last">,</span>
                    </div>
                </div>
                <hr *ngIf="filterPanel.length >0" class="hr" />
            </div>
            <div style="width:100%;">
                <ul class="row accordion-menu" id="accordionMenu">
                    <li *ngFor="let f of filterControlDetails;let a = index;" class="ulli">
                        <div *ngIf="f.filterField=='TEXTBOX'" class="col-md-2">
                            <div class="ullidiv">
                                <div>
                                    <div class="has-feedback">
                                        <div class="form-group">
                                            <label for="filter_{{f.filterID}}">{{f.filterText}}</label>
                                            <input placeholder=""
                                                   type="text"
                                                   class="form-control global_filter"
                                                   id="filter_{{f.filterID}}"
                                                   attr.data-filterID="{{f.filterID}}_list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="f.filterField=='DROPDOWN'" class="col-md-2">
                            <div class="ullidiv">
                                <div class="form-group">
                                    <label for="{{f.filterID}}_list">{{f.filterText}}</label>

                                    <div class="dropdownlink" attr.data-id="{{f.filterID}}_list" (click)="openDDLlist(f.filterID+'_list')">
                                        <span>{{f.filterText}}</span>

                                        <!--<ng-container *ngFor="let s of selectedFilterDS;let ind=index;">
                                            <span *ngIf="s.filterID==f.filterID+'_list'"> {{s.name}}</span>
                                            <span *ngIf="ind==0 && s.filterID!=f.filterID+'_list'">{{f.filterText}}</span>
                                        </ng-container>-->

                                        <i class="fa fa-chevron-down iconColor" aria-hidden="true"></i>
                                    </div>
                                    <ul id="{{f.filterID}}_list" class="submenuItems">
                                        <li *ngIf="f.search==true">
                                            <div style="padding: 2px;">
                                                <div class="has-feedback">
                                                    <input placeholder="Search"
                                                           type="text"
                                                           (keyup)="searchFilterValue($event)"
                                                           class="form-control input-md global_filter"
                                                           id="filter_{{f.filterID}}"
                                                           attr.data-filterID="{{f.filterID}}_list" />
                                                    <span class="glyphicon glyphicon-search iconColor form-control-feedback"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <div *ngFor="let ds of dataSet;let i = index;" class="smi_div">
                                            <li *ngIf="ds.type==f.filterID" (click)="itemClick($event,false)" class="liai" attr.data-index="{{a+1}}"
                                                attr.data-filterID="{{f.filterID}}_list"
                                                attr.data-filter="{{f.filterID}}"
                                                attr.data-filterText="{{f.filterText}}"
                                                attr.data-multiselect="{{f.multiselect}}"
                                                attr.data-reportParameter="{{f.reportParameter}}"
                                                attr.data-storedProcedureName="{{f.storedProcedureName}}"
                                                attr.data-connectionString="{{f.connectionString}}"
                                                attr.data-dependent="{{f.dependent}}"
                                                attr.data-nextDep="{{f.nextDep}}"
                                                attr.data-storedProcedureParameter="{{f.storedProcedureParameter}}"
                                                attr.data-valname="{{ds.name}}"
                                                attr.data-valid="{{ds.id}}"
                                                id="{{ds.id}}_{{i}}_{{f.filterID}}">
                                                <a id="a_{{ds.name+i}}">
                                                    <i id="chk_{{i+1}}" [ngClass]="f.multiselect==true ? 'fa fa-square-o' : 'unchecked'" class="iconColor"></i>
                                                    {{ds.name}}
                                                </a>
                                            </li>
                                        </div>
                                    </ul>

                                </div>

                            </div>
                        </div>

                        <div *ngIf="f.filterField=='DATE'">
                            <div class="ullidiv">

                                <div class="col-md-2">
                                    <form id="{{f.filterID}}">
                                        <div class="form-group">
                                            <label for="{{f.filterID}}_DATE">{{f.filterText}}</label>
                                            <div class="dateContainer">
                                                <div class="input-group date" id="{{f.filterID}}_dtp">
                                                    <input type="text" id="{{f.filterID}}_DATE" class="form-control" name="{{f.filterID}}" placeholder="MM/DD/YYYY" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div *ngIf="f.filterField=='TIME'">
                            <div class="ullidiv">

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="{{f.filterID}}_formControl">{{f.filterText}}</label>
                                        <div class="input-group">
                                            <span id="{{f.filterID}}_formControl" class="form-control" style="padding:0">
                                                <select id="{{f.filterID}}_hh" class="timepickerFeild" (change)="timeValidation(f.filterID)">
                                                    <option vlaue="HH">HH</option>
                                                    <option value="{{h}}" *ngFor="let h of hours" [selected]="h == 12">{{h}}</option>
                                                </select>
                                                <span class="timeSpace">:</span>
                                                <select id="{{f.filterID}}_mm" class="timepickerFeild" (change)="timeValidation(f.filterID)">
                                                    <option value="MM">MM</option>
                                                    <option value="{{m}}" *ngFor="let m of minutes" [selected]="m == 00">{{m}}</option>
                                                </select>
                                                <span class="timeSpace">:</span>
                                                <select id="{{f.filterID}}_aa" class="timepickerFeild">
                                                    <option>AM</option>
                                                    <option>PM</option>
                                                </select>
                                            </span>
                                            <span id="{{f.filterID}}_inputAddon" class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                        <label id="dateErrorLabelTime" class="errorLable">Select Valid Time</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="f.filterField=='DATETIME'">
                            <div class="ullidiv">

                                <div class="col-md-2">
                                    <form id="{{f.filterID}}">
                                        <!--or-->
                                        <div class="form-group">
                                            <label for="{{f.filterID}}_DATETIME">{{f.filterText}}</label>
                                            <div class="dateContainer">
                                                <div class="input-group date" id="{{f.filterID}}_dtp">
                                                    <input type="text" id="{{f.filterID}}_DATETIME" class="form-control" name="{{f.filterID}}" placeholder="MM/DD/YYYY HH:MM A" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>

                        <div *ngIf="f.filterField=='DATERANGE'" class="ullidiv">
                            <div class="col-md-2">
                                <form id="{{f.filterID}}_From">
                                    <div class="form-group">
                                        <label for="{{f.filterID}}_From_DATERANGE">From {{f.filterText}}</label>
                                        <div class="dateContainer">
                                            <div class="input-group date" id="{{f.filterID}}_From_dt">
                                                <input type="text" id="{{f.filterID}}_From_DATERANGE" class="form-control" name="{{f.filterID}}_From" placeholder="From {{f.filterText}}" />
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                                <form id="{{f.filterID}}_To">
                                    <div class="form-group">
                                        <label for="{{f.filterID}}_To_DATERANGE">To {{f.filterText}}</label>
                                        <div class="dateContainer">
                                            <div class="input-group date" id="{{f.filterID}}_To_dtp">
                                                <input type="text" id="{{f.filterID}}_To_DATERANGE" attr.data-from="{{f.filterID}}_From_DATERANGE" (keyup)="PickerChange($event,f.filterID)" class="form-control" name="{{f.filterID}}_To" placeholder="To {{f.filterText}}" />
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div *ngIf="f.filterField=='DATETIMERANGE'">
                            <div class="ullidiv">
                                <div class="col-md-2">
                                    <form id="{{f.filterID}}_From">
                                        <div class="form-group">
                                            <label for="{{f.filterID}}_From_DATETIMERANGE">From {{f.filterText}}</label>
                                            <div class="dateContainer">
                                                <div class="input-group date" id="{{f.filterID}}_From_dt">
                                                    <input type="text" id="{{f.filterID}}_From_DATETIMERANGE" class="form-control" name="{{f.filterID}}_From" placeholder="From {{f.filterText}}" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <form id="{{f.filterID}}_To">
                                        <div class="form-group">
                                            <label for="{{f.filterID}}_To_DATETIMERANGE">To {{f.filterText}}</label>
                                            <div class="dateContainer">
                                                <div class="input-group date" id="{{f.filterID}}_To_dtp">
                                                    <input type="text" id="{{f.filterID}}_To_DATETIMERANGE" attr.data-from="{{f.filterID}}_From_DATETIMERANGE" (keyup)="PickerChange($event)" class="form-control" name="{{f.filterID}}_To" placeholder="To {{f.filterText}}" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="col-md-2" style="float:right">
                            <div class="form-group">
                                <label for="email">&nbsp;</label>
                                <input type="button" (click)="sendParameterToReport()" class="form-control btn primarybackgroundColor filtterBtn" style="color:#FFF;" value="Submit" />
                            </div>
                        </div>
                        <!--<div *ngIf="filterControlDetails?.length<4" class="col-md-3">
                            <div class="btn primarybackgroundColor filtterBtn" style="color:#FFF; margin-right: 20px;" (click)="sendParameterToReport()">Execute</div>
                            <a (click)="showfillter()" id="det" style="position: absolute;right: 7px;top: 15px; cursor:pointer">[+]</a>
                        </div>-->
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<mstfooter></mstfooter>





