 /* ---------- GENERAL ---------- */
*{
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
body {
  color: #000;
  font-family: AdientSans-Regular !important;
  margin: 0;
  background-size:cover;
}
.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* ---------- LOGIN ---------- */
#login fieldset {
  background: rgb(255, 255, 255);
  border-radius: 20px 20px;
  padding: 20px 26px;
  border-color:transparent;
}
#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}
#login fieldset p:last-child {
  margin-bottom: 0;
}
#loginDiv li {
    list-style: none;
    width: 100%;
    font-weight: 500;
    border-bottom: 1px solid #000;
    background: transparent;
    margin: 1em 0;
    outline: none;
}
body a, #loginDiv li, .submit input[type="submit"] {
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
}
input[type="text"], input[type="password"] {
    width: 83%;
    padding: 1em 0em 1em 2.7em;
    color: #000;
    font-size: 15px;
    outline: none;
    background: none;
    font-weight: 500;
    border: none;
}
.user {
    /*background: url(assets/img/login/txtuser.png);*/
    background-size: 25px;
    background-repeat: no-repeat;
}
.lock {
    /*background: url(assets/img/login/key.png);*/
    background-size: 25px;
    background-repeat: no-repeat;
}
.icon {
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    margin: 12px -35px 0px 5px;
    padding: 5px 32px 0 0;
}

#btnlogin {
  margin: 25px auto 0;
  font-size: 20px;
  padding: 10px 50px;
  display: block;
  /*background-color: #000000;*/
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*#btnlogin:hover {
  background-color: rgba(255, 255, 255, 0.32);
  color: #000;
  border-color: #000;
}*/

.main
{
	position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    width: 400px;
    margin-left: auto;
    margin-right: 80px;
    margin-bottom: 20px;
}
.main_box
{
	width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
@media all and (max-width: 500px) and (min-width: 320px) 
{
		.main
		{
			 width: 95% !important;
			 margin: 0 auto !important;
		}
}
/*@media all and (max-width: 1000px) and (min-width: 320px) {

    .loginbg {
        background: #139acc !important;
    }
}*/
.loginbg {
    /*background: url(assets/img/login/background.png);*/
    background-color:rgba(0, 0, 0, 0.69);
   background-repeat: no-repeat;
   background-size: cover;
   font: 100%/1.5em "Varela Round", sans-serif;
   margin: 0;
   padding:0;
   height: 100vh;
    }
/*/ Chrome/Opera/Safari /*/
::-webkit-input-placeholder { 
  color: #303030;
}
/*/ Firefox 19+ /*/
::-moz-placeholder { 
  color:#303030
}
/*/ IE 10+ /*/
:-ms-input-placeholder { 
  color: #303030
}
/*/ Firefox 18- /*/
:-moz-placeholder { 
  color: #303030
}

