<div class="loginbg" style="background-image:url(assets/images/login/bg.png)">
    <div class="main">

        <div id="login" class="main_box">
            <fieldset>
                <div style="width: 135px; margin: 0 auto;">
                    <img src="assets/images/login/logo.png" style="width:100%" />
                </div>
                <!--<form (submit)="login(username.value,password.value)">-->
                <div id="loginDiv">
                    <ul style="padding-left:0">
                        <li id="li_uname">
                            <input id="uname" type="text" focus="true" class="text" (keyup.enter)="login(username.value,password.value)" placeholder="Username" value="admin" autocomplete="off" #username />
                            <i class="icon user" style="background-image:url(assets/images/login/txtuser.png)"></i>
                        </li>
                        <li id="li_pwd">
                            <input id="pwd" type="password" value="4321" (keyup.enter)="login(username.value,password.value)" placeholder="Password" #password />
                            <i class="icon lock" style="background-image:url(assets/images/login/key.png)"></i>
                        </li>
                    </ul>
                    <input class="primarybackgroundColor" id="btnlogin" type="button" (click)="login(username.value,password.value)" value="Sign In">
                    <button type="submit" style="display:none">hidden submit</button>
                </div>
                <!--</form>-->
            </fieldset>
        </div>
    </div>
</div>
